5. Bancos/PROCESOS BANCARIOS 04122019/PROCESOSBANCARIOSFINAL  SICOFS/Procesos.PS/Web References/ServicioAsoBancaria/AsoBancaria.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://sbogche010f/Bancos/Servicios/AsoBancaria.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="ServicioAso">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NombreBanco" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IdCuentaBancoEpicor" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ArchivoSalidaAsobancaria" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="EsFTP" type="xs:boolean" />
        <xs:element minOccurs="0" name="UrlFTP" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UsuarioFTP" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ClaveFTP" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="CorreosControl" nillable="true" type="q1:ArrayOfanyType" />
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="CorreosEnvio" nillable="true" type="q2:ArrayOfanyType" />
        <xs:element minOccurs="0" name="CodigoTransito" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Remitente" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TipoProceso" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServicioAsoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ServicioAsoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>