5. Bancos/Administracion FTP/BancosFtp Ultima 12-06-2017/RutasFtp.AD/RutasFtp.PS/Web References/ServicioITA/ServicioIntegrador.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicioIntegrador" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://172.16.20.40:100/Servicios/ServicioIntegrador.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://172.16.20.40:100/Servicios/ServicioIntegrador.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://172.16.20.40:100/Servicios/ServicioIntegrador.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://172.16.20.40:100/Servicios/ServicioIntegrador.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/IntegradorAPP.PS.Servicios" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicioIntegrador_consultarNotificados_InputMessage">
    <wsdl:part name="parameters" element="tns:consultarNotificados" />
  </wsdl:message>
  <wsdl:message name="IServicioIntegrador_consultarNotificados_OutputMessage">
    <wsdl:part name="parameters" element="tns:consultarNotificadosResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioIntegrador_consultarModulos_InputMessage">
    <wsdl:part name="parameters" element="tns:consultarModulos" />
  </wsdl:message>
  <wsdl:message name="IServicioIntegrador_consultarModulos_OutputMessage">
    <wsdl:part name="parameters" element="tns:consultarModulosResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioIntegrador_consultarGrupoUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:consultarGrupoUsuario" />
  </wsdl:message>
  <wsdl:message name="IServicioIntegrador_consultarGrupoUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:consultarGrupoUsuarioResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicioIntegrador">
    <wsdl:operation name="consultarNotificados">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioIntegrador/consultarNotificados" message="tns:IServicioIntegrador_consultarNotificados_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioIntegrador/consultarNotificadosResponse" message="tns:IServicioIntegrador_consultarNotificados_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="consultarModulos">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioIntegrador/consultarModulos" message="tns:IServicioIntegrador_consultarModulos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioIntegrador/consultarModulosResponse" message="tns:IServicioIntegrador_consultarModulos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="consultarGrupoUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioIntegrador/consultarGrupoUsuario" message="tns:IServicioIntegrador_consultarGrupoUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioIntegrador/consultarGrupoUsuarioResponse" message="tns:IServicioIntegrador_consultarGrupoUsuario_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicioIntegrador" type="tns:IServicioIntegrador">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="consultarNotificados">
      <soap:operation soapAction="http://tempuri.org/IServicioIntegrador/consultarNotificados" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultarModulos">
      <soap:operation soapAction="http://tempuri.org/IServicioIntegrador/consultarModulos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultarGrupoUsuario">
      <soap:operation soapAction="http://tempuri.org/IServicioIntegrador/consultarGrupoUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioIntegrador">
    <wsdl:port name="BasicHttpBinding_IServicioIntegrador" binding="tns:BasicHttpBinding_IServicioIntegrador">
      <soap:address location="http://172.16.20.40:100/Servicios/ServicioIntegrador.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>