5. Bancos/Administracion FTP/BancosFtp Ultima 12-06-2017/RutasFtp.AD/RutasFtp.PS/Web References/ServicioITA/ServicioIntegrador0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://172.16.20.40:100/Servicios/ServicioIntegrador.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://172.16.20.40:100/Servicios/ServicioIntegrador.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/IntegradorAPP.PS.Servicios" />
  <xs:element name="consultarNotificados">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idApp" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="consultarNotificadosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="consultarNotificadosResult" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="consultarModulos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idApp" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="consultarModulosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/IntegradorAPP.PS.Servicios" minOccurs="0" name="consultarModulosResult" nillable="true" type="q2:ArrayOfModulo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="consultarGrupoUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idApp" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="consultarGrupoUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/IntegradorAPP.PS.Servicios" minOccurs="0" name="consultarGrupoUsuarioResult" nillable="true" type="q3:GrupoUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>