5. Bancos/Chevy Bancos/ChevyBancos Ultima 31-07-2017/Bancos.PS/Web References/ServicioPagos/PagosOnline1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://172.16.20.40:100/Bancos/Servicios/PagosOnline.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="ServicioPagosOnline">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NombreBanco" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IdCuentaBancoEpicor" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ArchivoSalidaPagosOnline" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="CorreosControl" nillable="true" type="q1:ArrayOfanyType" />
        <xs:element minOccurs="0" name="CodigoTransito" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="NumCuenta" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TipoCuenta" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Remitente" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServicioPagosOnlineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ServicioPagosOnlineResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>