5. Bancos/PROCESOS BANCARIOS 04122019/PROCESOSBANCARIOSFINAL  SICOFS/Procesos.PS/Web References/ServicioTarjetasCredito/TarjetasCredito1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51647/Servicios/TarjetasCredito.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="ServicioTarjetasCredito">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NombreCuenta" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IdCuentaBanco" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IdCuentaBancoEpicor" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RutaEntrada" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RutaSalida" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="CorreosControl" nillable="true" type="q1:ArrayOfanyType" />
        <xs:element minOccurs="0" name="Remitente" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CodigoTransito" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="NumCuenta" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TipoCuenta" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RutaProcesado" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TipoProceso" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServicioTarjetasCreditoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ServicioTarjetasCreditoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>