5. Bancos/PROCESOS BANCARIOS 04122019/PROCESOSBANCARIOSFINAL  SICOFS/Procesos.PS/Web References/ServicioBancos/WsBancos.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WsBancos" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:9085/WsBancos.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:9085/WsBancos.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWBancos_LecturaPagos_InputMessage">
    <wsdl:part name="parameters" element="tns:LecturaPagos" />
  </wsdl:message>
  <wsdl:message name="IWBancos_LecturaPagos_OutputMessage">
    <wsdl:part name="parameters" element="tns:LecturaPagosResponse" />
  </wsdl:message>
  <wsdl:message name="IWBancos_PagosTarjeta_InputMessage">
    <wsdl:part name="parameters" element="tns:PagosTarjeta" />
  </wsdl:message>
  <wsdl:message name="IWBancos_PagosTarjeta_OutputMessage">
    <wsdl:part name="parameters" element="tns:PagosTarjetaResponse" />
  </wsdl:message>
  <wsdl:message name="IWBancos_ProcesarPagosSinSubir_InputMessage">
    <wsdl:part name="parameters" element="tns:ProcesarPagosSinSubir" />
  </wsdl:message>
  <wsdl:message name="IWBancos_ProcesarPagosSinSubir_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProcesarPagosSinSubirResponse" />
  </wsdl:message>
  <wsdl:portType name="IWBancos">
    <wsdl:operation name="LecturaPagos">
      <wsdl:input wsaw:Action="http://tempuri.org/IWBancos/LecturaPagos" message="tns:IWBancos_LecturaPagos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWBancos/LecturaPagosResponse" message="tns:IWBancos_LecturaPagos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PagosTarjeta">
      <wsdl:input wsaw:Action="http://tempuri.org/IWBancos/PagosTarjeta" message="tns:IWBancos_PagosTarjeta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWBancos/PagosTarjetaResponse" message="tns:IWBancos_PagosTarjeta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProcesarPagosSinSubir">
      <wsdl:input wsaw:Action="http://tempuri.org/IWBancos/ProcesarPagosSinSubir" message="tns:IWBancos_ProcesarPagosSinSubir_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWBancos/ProcesarPagosSinSubirResponse" message="tns:IWBancos_ProcesarPagosSinSubir_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWBancos" type="tns:IWBancos">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LecturaPagos">
      <soap:operation soapAction="http://tempuri.org/IWBancos/LecturaPagos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PagosTarjeta">
      <soap:operation soapAction="http://tempuri.org/IWBancos/PagosTarjeta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcesarPagosSinSubir">
      <soap:operation soapAction="http://tempuri.org/IWBancos/ProcesarPagosSinSubir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WsBancos">
    <wsdl:port name="BasicHttpBinding_IWBancos" binding="tns:BasicHttpBinding_IWBancos">
      <soap:address location="http://localhost:9085/WsBancos.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>